---
layout: page
title: Pour les écoles
banner: "/assets/images/cfs_activites_parascolaires.jpg"
image: "/assets/images/cfs_activites_parascolaires.jpg"
permalink: "/pour-les-ecoles/"
menu: true
description: 'Organisez facilement vos les évènements pour votre école: activités
  pascolaires, journées sportives, journées pédagogiques et fancy-fair ! '

---
Nous organisons pour vous une série d'activités en mettant à votre disposition notre matériel, nos moniteurs, et notre savoir-faire.

<table class="table table-striped mt-4 mb-4">
  <thead>
    <tr>
      <th scope="col">Établissement</th>
      <th scope="col">Garderies</th>
      <th scope="col">Journées pédagogiques</th>
      <th scope="col">Activités parascolaires</th>
    </tr>
  </thead>
  <tbody>

    {% for page in site.pages %}
          {% if page.type_page == "ecoles" %}
              {% if page.published == false %}
              {% else %}
                  <tr>
                      <td>{{ page.title }}</td>
                      <td><center>{% if page.activite_garderie %}<i class="fa fa-check-circle-o text-success fa-2x"></i>{% else %}<i class="fa fa-times-circle-o text-danger fa-2x"></i>{% endif %}</center></td>
                      <td><center>{% if page.activite_parascolaire %}<i class="fa fa-check-circle-o text-success fa-2x"></i>{% else %}<i class="fa fa-times-circle-o text-danger fa-2x"></i>{% endif %}</center></td>
                      <td><center>{% if page.activite_pedagogique %}<i class="fa fa-check-circle-o text-success fa-2x"></i>{% else %}<i class="fa fa-times-circle-o text-danger fa-2x"></i>{% endif %}</center></td>
                  </tr>
              {% endif %}
          {% endif %}
      {% endfor %}
  </tbody>
</table>

<!-- NE PAS MODIFIER EN DESSOUS DE CETTE LIGNE -->