rename "s/oldExtension/newExtension/" *.txt
### Table title

| Header | Header | Header  |
| ------ | ------ | ------- |
| Cell   | Cell   | Cell   |
| Cell   | Cell   | Cell   |
| Cell   | Cell   | Cell   |
