<p>Une garderie est organisée: dès <strong>08h00</strong> dans le <u>Brabant Wallon</u>, à <u>Liège</u> et à <u>Bruxelles</u>, et le soir jusque <strong>18h00</strong>.</p>

<p>Obligation de s’inscrire au préalable via le site internet ou par téléphone. Aucun payement en liquide sur place.</p>

<p>Le forfait de garderie est de :</p>

<hr>
<strong>Brabant Wallon</strong> :
<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Forfait matin: 5€/enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Forfait soir: 10€/enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Forfait complet: 15€/enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Gratuité de 8h30 à 9h00 et de 16h00 à 16h30
	  </li>
	</ul>
</div>
<hr>
<strong>Bruxelles et Liège</strong>:
<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> 10€/semaine pour 1 enfant - 15€/semaine pour 2 enfants et 20€/semaine pour 3 enfants ou plus
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> A la carte : 1,5€ par heure entamée et par enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Gratuité de 8h45 à 9h00 et de 16h00 à 16h15
	  </li>
	</ul>
</div>
