---
layout: page
title: Aqua Circuit
banner: "/assets/images/coursadultes_aquacircuit-1.jpg"
image: ''
permalink: "/cours_adultes/aquacircuit/"
menu: true
description: ''
type_page: adultes
bulle: "/assets/images/cours-adultes-aquacircuit-300x300.jpg"
published: false

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>

<!-- NE RIEN EFFACER AU DESSUS DE CETTE LIGNE -->

Vous recherchez une activité complète et ludique ?

L’Aqua CIRCUIT est fait pour vous ! Avec un enchaînement d’ateliers utilisant du matériel (vélos, haltères, élastiques, etc…), vous travaillez l’ensemble des différents groupes musculaires (abdominaux, dorsaux et pectoraux, bras, jambes et fessiers).

Pour tous ceux qui apprécient le travail varié avec du matériel – sans chorégraphie - et recherchent un résultat efficace !
{% include utils/cours_adultes_seo.html %}