---
layout: page
title: Aquamix
banner: "/assets/images/banner/coursadultes/aquamix.png"
image: "/assets/images/banner/coursadultes/aquamix.png"
permalink: "/cours_adultes/aquamix/"
menu: true
description: Venez découvrir notre cours Aqua Mix au CFS à Wavre et alliez le travail
  des jambes, des bras et du haut du corps.
type_page: adultes
bulle: "/assets/images/cours-adultes-aqua-mix-300x300.jpg"
activite_garderie: false
activite_parascolaire: false
activite_pedagogique: false
button_document_text: ''
button_document_link: ''
lieux:
  - bierges
  - liernu

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Vous ne savez pas choisir entre Aquabike et Aquagym ? Bonne nouvelle ! Venez découvrir notre cours Aqua Mix qui allie le travail des jambes, des bras et du haut du corps.</p>
{% include utils/cours_adultes_seo.html %}
