---
layout: page
title: Aquagym
banner: "/assets/images/banner/coursadultes/aquagym.png"
image: "/assets/images/banner/coursadultes/aquagym.png"
permalink: "/cours_adultes/aquagym/"
menu: true
description: Découvrez les cours d'aquagym au CFS à Bierges (Wavre)! Sollicitez l'ensemble
  de vos muscles en ciblant le développement du système cardio-vasculaire.
type_page: adultes
bulle: "/assets/images/cours-adultes-aqua-gym-300x300.jpg"
button_document_text: ''
button_document_link: ''
lieux:
- liernu
- bierges

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>L'aquagym est un sport complet qui sollicite l'ensemble de vos muscles. Au programme: échauffement, exercices ciblant le développement du système cardio-vasculaire et le renforcement du système musculaire. Fin de la séance par un retour au calme et du stretching.🏊‍♀️</p>
{% include utils/cours_adultes_seo.html %}