---
layout: page
title: Aquabike
banner: "/assets/images/banner/coursadultes/aquabike.png"
image: "/assets/images/banner/coursadultes/aquabike.png"
permalink: "/cours_adultes/aquabike/"
menu: true
description: Sportif confirmé ou débutant, femme enceinte, personne en rééducation,...
  venez découvrir l'aquabike et ses bienfaits au CFS à Bierges près de Wavre.
type_page: adultes
bulle: "/assets/images/aqua-bike.png"
activite_garderie: false
activite_parascolaire: false
activite_pedagogique: false
button_document_text: ''
button_document_link: ''
lieux:
  - liernu
  - bierges

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>L'aquabike est pour tout le monde ! 🤩
  
Du sportif confirmé au débutant, femme enceinte, personne en rééducation... A ce stade, l'émulation de l'aquabike vient en majeure partie de la souplesse et de l'effort. En effet, l'eau permet de se muscler en douceur, car la résistance de l'eau est 15 fois supérieure à celle de l'air. 🌊
  
On observe des résultats certains sur le raffermissement de la peau ainsi qu'une silhouette tonifiée. Après votre cours, retrouvez une sensation de bien-être, mais sans courbature.😎</p>
{% include utils/cours_adultes_seo.html %}
