---
layout: page
title: Body Sculpt
banner: "/assets/new-images/body sculpt banner.png"
image: "/assets/new-images/body sculpt banner.png"
bulle: "/assets/new-images/body sculpt.png"
permalink: "/cours_adultes/bodySculpt/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Ces séances vous permettent de modeler votre silhouette grâce à une combinaison d'exercices cardio entrecoupée de renforcements avec élastique, bâtons et haltères. </p>

<p>Une séance complète dont vous ressortirez ravis ! </p>
{% include utils/cours_adultes_seo.html %}