---
layout: page
title: Body Fit
banner: "/assets/images/body-fit.png"
image: "/assets/images/body-fit.png"
permalink: "/cours_adultes/bodyfit/"
menu: true
description: Un entraînement complet mêlant cardio et renforcement !
type_page: adultes
bulle: "/assets/images/body-fit.png"
lieux:
  - bierges

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Un entraînement complet mêlant cardio et renforcement, pour bouger en rythme tout en sculptant ton corps.<br>
Les séances sont variées, accessibles, et adaptables à tous les niveaux. <br>
Résultat : plus d’énergie, plus de force, et une silhouette qui se dessine au fil des semaines.<br>
L’essentiel, c’est de tout donner dans la bonne humeur !.</p>

{% include utils/cours_adultes_seo.html %}
