---
layout: page
title: Cardio Dance
banner: "/assets/images/banner-cardio-dance.jpg"
image: "/assets/images/banner-cardio-dance.jpg"
bulle: "/assets/images/cardio-dance.png"
permalink: "/cours_adultes/cardio-dance/"
type_page: adultes
menu: false
description: Envie de bouger, de transpirer, mais sans te prendre la tête.
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>

<p>Envie de bouger, de transpirer, mais sans te prendre la tête ? Ce cours est pour toi ! 
Des chorées fun et simples, sur des musiques qui donnent la pêche.<br>
On se dépense, on rigole, on transpire ensemble. <br>
Pas besoin d’être danseur pro, il suffit d’avoir envie de s’amuser et de se lâcher </p>
  
{% include utils/cours_adultes_seo.html %}
