---
layout: page
title: Circuit training
banner: "/assets/new-images/circuit training banner.png"
image: "/assets/new-images/circuit training banner.png"
bulle: "/assets/new-images/circuit training.png"
permalink: "/cours_adultes/circuit-training/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Le circuit training vous propose des exercices variés avec des corrections personnalisées afin de vous assurer un cours optimal. </p>

<p>L'ensemble du corps sera travaillé sous l'œil avisé de votre coach. </p>  

{% include utils/cours_adultes_seo.html %}