---
layout: page
title: Hiit
banner: "/assets/new-images/hiit banner.png"
image: "/assets/new-images/hiit banner.png"
bulle: "/assets/new-images/hiit.png"
permalink: "/cours_adultes/hiit/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Envie de performer et de dépasser vos limites ? Ce cours est fait pour vous ! </p>

<p>L'entrainement fractionné à haute intensité est une méthode d'entrainement qui vise à renforcer le corps par des exercices courts et intenses dont seul le coach a le secret… </p>
  
<p>Enfilez vos baskets, ça va déménager ! </p>

{% include utils/cours_adultes_seo.html %}