---
layout: page
title: Cours Adultes
permalink: "/cours_adultes/"
menu: true
description: Le CFS propose des cours collectifs pour adultes dans une ambiance conviviale
  au sein du centre sportif du CFS "Le Provincial" situé à Bierges (Wavre) et au WSPI
banner: ''
image: ''
slogan: Choisissez votre centre pour plus de précision

---
<div class="row">
  <div class="col-md-12 text-center" style="font-size: 24px; margin-bottom: 20px;">
    <strong>{{ page.slogan }}</strong>
  </div>

  <div class="col-md-3" style="margin-bottom: 20px;">
    <a href="/cours_adultes/bierges/" class="btn btn-info-filled btn-block">Bierges</a>
  </div>

  <div class="col-md-3" style="margin-bottom: 20px;">
    <a href="/cours_adultes/woluwe-st-pierre/" class="btn btn-info-filled btn-block">
      Woluwé-Saint-Pierre
    </a>
  </div>

  <div class="col-md-3" style="margin-bottom: 20px;">
    <a href="/cours_adultes/liernu/" class="btn btn-info-filled btn-block">Liernu</a>
  </div>

  <div class="col-md-3" style="margin-bottom: 20px;">
    <a href="/cours_adultes/limal/" class="btn btn-info-filled btn-block">Limal</a>
  </div>
</div>


<div class="container">
     <div class="team-members-tow mtb-50">
		<div class="row">
			{% for page in site.pages %}
				{% if page.type_page == "adultes" %}
					{% if page.published == false %}
					{% else %}
					<div class="col-xs-6 col-md-3">
							{% include coleen/bulle.html src=page.bulle titre=page.title href=page.permalink bouton="Plus d'info" %}
					</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
