---
layout: page
title: Padel
banner: "/assets/images/padel-banner.png"
image: "/assets/images/padel-banner.png"
bulle: "/assets/images/padel-carre.png"
permalink: "/cours_adultes/Padel/"
type_page: adultes
menu: true
description: Cours de Padel -  En collaboration avec le Pulse Padel.
lieux:
  - limal
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant&_ga=2.125045322.152542681.1770018859-909983389.1745826110" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p> En collaboration avec le Pulse Padel - Envie de progresser au padel dans une ambiance conviviale et dynamique ? Nos cours collectifs pour adultes sont ouverts à tous les niveaux, 
u débutant au joueur confirmé. Encadrés par un coach qualifié, les cours permettent de travailler : les fondamentaux techniques (coups, placements, déplacements), la tactique de jeu en double, la lecture du jeu 
et la prise de décision, le tout à travers des exercices ludiques et des situations de match. L’esprit est à la fois sportif, accessible et convivial, idéal pour apprendre ou se perfectionner tout en partageant un bon moment. </p>



{% include utils/cours_adultes_seo.html %}
