---
layout: page
title: Pilates
banner: "/assets/images/pilates-banner.png"
image: "/assets/images/pilates-banner.png"
bulle: "/assets/images/pilates-carre.png"
permalink: "/cours_adultes/pilates/"
type_page: adultes
menu: true
description: Le Pilates est une méthode complète qui combine postures, mouvements et respiration au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Envie de performer et de dépasser vos limites ? Ce cours est fait pour vous ! </p>

<p> Le Pilates est une méthode complète qui combine postures contrôlées, mouvements fluides et respiration consciente. 
	Il permet de renforcer les muscles en profondeur, d’améliorer la mobilité articulaire, la posture, l’équilibre et la coordination… tout en aidant à relâcher les tensions et le stress du quotidien.</p>

<p> Durant chaque séance, vous travaillez l’ensemble du corps grâce à des exercices au poids du corps et à l’aide de petit matériel, dans une atmosphère conviviale et bienveillante.
	Une attention particulière est portée à la respiration pour renforcer le centre du corps en douceur et en efficacité.</p>

<p> Un cours accessible à tous, idéal pour se sentir plus fort, plus mobile… et repartir avec le sourire.</p>

<p> Le combo parfait entre bien-être, tonification et bonne humeur au CFS !</p>

{% include utils/cours_adultes_seo.html %}
