---
layout: page
title: Sport Combat Parents-Enfants
banner: "/assets/new-images/sport combat banner.png"
image: "/assets/new-images/sport combat banner.png"
bulle: "/assets/new-images/sport combat.png"
permalink: "/cours_adultes/sport-combat-parent-enfant/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
published: false
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Venez découvrir avec votre enfant ce tout nouveau cours !  </p>

<p>Au programme : développement du corps grâce à l'apprentissage d'arts martiaux. </p>

<p>Une séance axée sur les techniques de défense, d'attaque et de projection. </p>
  
<p>Vous pourrez profiter d'un professeur expérimenté et spécialisé dans le domaine du combat. </p>

{% include utils/cours_adultes_seo.html %}
