---
layout: page
title: Streching
banner: "/assets/new-images/streching banner.png"
image: "/assets/new-images/streching banner.png"
bulle: "/assets/new-images/streching.png"
permalink: "/cours_adultes/streching/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Problèmes de raideur ou de souplesse ? Envie de partager un moment convivial en toute décontraction ? Ce cours est fait pour vous !  </p>

<p>Au programme : détente, développement de la souplesse, aide à la récupération après l'effort, et évacuation du stress et de l'anxiété par de la relaxation. </p>  

{% include utils/cours_adultes_seo.html %}