---
layout: page
title: Taf Booster
banner: "/assets/images/banner-taf-booster.png"
image: "/assets/images/banner-taf-booster.png"
bulle: "/assets/images/taf-booster.png"
permalink: "/cours_adultes/taf-booster/"
type_page: adultes
menu: false
published: false
description: Un mix explosif entre cardio et renforcement !
lieux:
  - bierges

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>o Un mix explosif entre cardio et renforcement ciblé pour la taille, les abdos et les fessiers. <br>
	Ici, ça brûle, ça pulse, ça engage ! On enchaîne les exercices dynamiques pour renforcer la sangle abdominale, galber les fessiers et affiner la taille. <br>
	Parfait pour qui veut sculpter le bas du corps tout en transpirant à fond. </p>

{% include utils/cours_adultes_seo.html %}
