---
layout: page
title: Taille Abdos Fessiers
banner: "/assets/new-images/taille abdos fessiers banner.png"
image: "/assets/new-images/taille abdos fessiers banner.png"
bulle: "/assets/new-images/taille abdos fessiers.png"
permalink: "/cours_adultes/taille-abdos-fessiers/"
type_page: adultes
menu: true
description: Faites du fitness de façon originale et ludique au CFS à Bierges (Wavre).
lieux:
  - bierges
---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Ce cours propose un raffermissement/entretien des muscles de la taille, de la sangle abdominale et des muscles fessiers. </p>

<p>De quoi maintenir votre summer body toute l'année ! 😉 </p>  

{% include utils/cours_adultes_seo.html %}