---
layout: page
title: Yoga
banner: "/assets/images/banner/coursadultes/yoga.jpg"
image: "/assets/images/banner/coursadultes/yoga.jpg"
permalink: "/cours_adultes/yoga/"
menu: true
description: Adoptez les bienfaits du Yoga à travers une pratique régulière au CFS
  à Bierges. Encadré par des professionnels certifiés yoga hatha et vinasya.
type_page: adultes
bulle: "/assets/images/cours-adultes-yoga-300x300.jpg"
activite_garderie: false
activite_parascolaire: false
activite_pedagogique: false
button_document_text: ''
button_document_link: ''
lieux:
  - BIeRGES
  - ottignies
  - liernu

---
{% include annonces/cours_adultes.html %}

<div class="d-flex justify-content-center mb-3">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=3&Province=Brabant" class="btn btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Améliorez votre bien être, votre souplesse, votre équilibre en pratiquant des postures de yoga ainsi que la respiration consciente.🧘‍♀️</p>

<p><b>Les bienfaits à travers une pratique régulière</b></p>

<p>Améliore l'équilibre global, émotionnel, mental et physique<br/>
Améliore la flexibilité, le système immunitaire, la digestion<br/>
Renforce la vitalité et le tonus<br/>
Amène à une meilleure connaissance de soi<br/></p>

<p><b>L 'esprit du cours</b><p>

<p>Aucune compétition, aucune obligation hormis celle de respecter ses propres limites<br/>
Le dialogue est encouragé après ou avant la séance, la séance se déroule dans le calme et l'attention<br/>
Apprendre à tout âge est une grande joie<br/>
Détente et patience bienvenues<br/></p>

{% include utils/cours_adultes_seo.html %}