{% assign menu = site.data.menu %}

{% capture pageurl %}{{ BASE_PATH }}{{ page.url }}{% endcapture %}

{% if pageurl contains 'https://www.lecfs.be/cfs/' %}
{% assign menu_principal = menu['cfs'] %}

{% elsif pageurl contains 'https://www.lecfs.be/stages/' %}
{% assign menu_principal = menu['stages_enfants'] %}


{% elsif pageurl contains 'https://www.lecfs.be/activites/' %}
{% assign menu_principal = menu['activites'] %}


{% elsif pageurl contains 'https://www.lecfs.be/cours_adultes/' %}
{% assign menu_principal = menu['cours_adultes'] %}


{% elsif pageurl contains 'https://www.lecfs.be/anniversaires/' %}
{% assign menu_principal = menu['anniversaires'] %}


{% elsif pageurl contains 'https://www.lecfs.be/events/' %}
{% assign menu_principal = menu['events'] %}


{% elsif pageurl contains 'https://www.lecfs.be/brochures/' %}
{% assign menu_principal = menu['brochures'] %}
{% endif %}

<div class="blog-block categories-sidebar-widget">

    <h4>
        <a href="{{ menu_principal.url }}">{{ menu_principal.titre }}</a>
    </h4>

    {% for item in menu_principal.sousmenu %}
        <div class="post-category">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </div>
        {% if page.url contains item.url %}
            {% for brol in item.sousmenu %}
                <div class="post-category" style="border-bottom: 0px !important; padding-left: 35px !important;">
                    <a href="{{brol.url}}">{{ brol.title}}</a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

</div>