<div class="desktop">

<div class="col-md-12">
  <div class="massage-box alert-info">
    <strong>
      <i class="fa fa-info"></i>
    </strong>
    <p>Suite à la décision gouvernementale qui nous a contraint à arrêter toutes nos activités afin de lutter efficacement contre la propagation du Virus Covid-19, il est laissé la possibilité aux parents de demander un bon à valoir par activité extrascolaire réalisée par leur enfant ou alors d’être solidaires envers l’ASBL (ce bon pourra être utilisé pour un stage ou une nouvelle inscription au CFS <b>avant juin 2021</b>).</p>
    <p>⚠️ Seule l’utilisation du formulaire spécifique sera prise en compte pour la demande d’un bon à valoir. Les activités sont suspendues <b>jusqu’au 30 juin</b> et reprendront <b>début septembre 2020</b>.</p>
    <p>Merci pour votre solidarité, c’est grâce à vous si aujourd’hui nous pouvons encore proposé nos services 🤝 Votre solidarité compte pour nous !</p>
    <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
  </div>
</div>

</div>

<div class="mobile">

<div class="col-md-4">
      <a class="btn btn-block btn-info-filled" data-toggle="modal" data-target="#infos_cours_adultes" style="color:white; margin-bottom: 20px;">INFOS IMPORTANTES</a>
</div>
<div class="modal fade" id="infos_cours_adultes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">INFORMATIONS</h3>
        <div class="description">
          <p>Suite à la décision gouvernementale qui nous a contraint à arrêter toutes nos activités afin de lutter efficacement contre la propagation du Virus Covid-19, il est laissé la possibilité aux parents de demander un bon à valoir par activité extrascolaire réalisée par leur enfant ou alors d’être solidaires envers l’ASBL (ce bon pourra être utilisé pour un stage ou une nouvelle inscription au CFS <b>avant juin 2021</b>).</p>
          <p>⚠️ Seule l’utilisation du formulaire spécifique sera prise en compte pour la demande d’un bon à valoir. Les activités sont suspendues <b>jusqu’au 30 juin</b> et reprendront <b>début septembre 2020</b>.</p>
          <p>Merci pour votre solidarité, c’est grâce à vous si aujourd’hui nous pouvons encore proposé nos services 🤝 Votre solidarité compte pour nous !</p>
          <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>

</div>