<div class="desktop">

<div class="col-md-12">
  <div class="massage-box alert-info">
    <strong>
      <i class="fa fa-info"></i>
    </strong>
    <p>L’été approche et nous mettons tout en œuvre pour vous revoir au plus vite ! Malgré le climat particulier, nous nous sommes décarcassés pour pouvoir programmer un maximum de cours de récupération cet été tout en gardant la tête hors de l’eau. Nous vous proposons déjà des cours dans la salle de fitness en juin. Les cours dans la piscine reprendrons le 1er juillet.</p>
    <p>Dans votre espace MyCFS, vous avez été crédités de <b>10 tickets/inscription</b> sous l’appellation «carte de récupération Corona ». Pour ceux qui avaient déjà des tickets, vous trouverez ceux-ci en plus, à l’endroit habituel (Tickets valables jusqu’au 31/08/2020).</p>
    <p>⚠️ Pour les clients qui n’auraient pas réglés la totalité de leur inscription, merci de nous envoyer la preuve de paiement par mail à info@lecfs.be afin de pouvoir vous octroyer les tickets.</p>
    <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
  </div>
</div>

</div>

<div class="mobile">

<div class="col-md-4">
      <a class="btn btn-block btn-info-filled" data-toggle="modal" data-target="#infos_cours_adultes" style="color:white; margin-bottom: 20px;">INFOS IMPORTANTES</a>
</div>
<div class="modal fade" id="infos_cours_adultes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">INFORMATIONS</h3>
        <div class="description">
          <p>L’été approche et nous mettons tout en œuvre pour vous revoir au plus vite ! Malgré le climat particulier, nous nous sommes décarcassés pour pouvoir programmer un maximum de cours de récupération cet été tout en gardant la tête hors de l’eau. Nous vous proposons déjà des cours dans la salle de fitness en juin. Les cours dans la piscine reprendrons le 1er juillet.</p>
    <p>Dans votre espace MyCFS, vous avez été crédités de <b>10 tickets/inscription</b> sous l’appellation «carte de récupération Corona ». Pour ceux qui avaient déjà des tickets, vous trouverez ceux-ci en plus, à l’endroit habituel (Tickets valables jusqu’au 31/08/2020).</p>
    <p>⚠️ Pour les clients qui n’auraient pas réglés la totalité de leur inscription, merci de nous envoyer la preuve de paiement par mail à info@lecfs.be afin de pouvoir vous octroyer les tickets.</p>
    <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>

</div>