<div class="desktop">

<div class="col-md-12">
  <div class="massage-box alert-danger">
    <strong>
      <i class="fa fa-exclamation-triangle"></i>
    </strong>
    <p>Chers visiteurs,</p>
    <p>Une mise à jour de notre catalogue de stages se déroulera entre 2h00 et 4h00 afin d'améliorer votre confort sur notre site.</p>
    <p>Il est possible durant cette période que certains stages soient inacessibles.</p>
    <p>Nous nous excusons d'avance de la gène occasionnée.</p>
    <p><b>Le CFS</b></p>
  </div>
</div>
<br/>
<br/>
<div class="col-md-12">
  <div class="massage-box alert-info">
    <strong>
      <i class="fa fa-info"></i>
    </strong>
    <p>Le CFS met tout en œuvre pour proposer des stages dans les meilleures conditions pour VOS enfants tout en respectant les protocoles sanitaires de l’ONE.</p>
    <p>Merci de bien prendre connaissance de protocole général et du protocole propre à votre lieu de stage disponible dans le menu <a href="/stages/protocole/general/">Stages enfants > Organisation ETE 2020 > Organisation générale.</a></p>
    <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
    <p>Afin de respecter les protocoles et l'organisation en silo de 50 enfants/moniteurs, nous vous demandons <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1">de vous inscrire à la garderie au préalable en cochant la case Garderie en Stage</a>.</p>
  </div>
</div>

</div>

<div class="mobile">

<div class="col-md-4">
      <a class="btn btn-block btn-filled" data-toggle="modal" data-target="#maintenance" style="color:white; margin-bottom: 20px;">MAINTENANCE PRÉVUE</a>
</div>
<div class="modal fade" id="maintenance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">MAINTENANCE PRÉVUE</h3>
        <div class="description">
          <p>Chers visiteurs,</p>
          <p>Une mise à jour de notre catalogue de stages se déroulera entre 2h00 et 4h00 afin d'améliorer votre confort sur notre site.</p>
          <p>Il est possible durant cette période que certains stages soient inacessibles.</p>
          <p>Nous nous excusons d'avance de la gêne occasionnée.</p>
          <p><b>Le CFS</b></p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>

<div class="col-md-4">
      <a class="btn btn-block btn-info-filled" data-toggle="modal" data-target="#infos_cours_adultes" style="color:white; margin-bottom: 20px;">INFOS IMPORTANTES</a>
</div>
<div class="modal fade" id="infos_cours_adultes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="card-block">
        <h3 class="card-title text-center">INFORMATIONS</h3>
        <div class="description">
          <p>Le CFS met tout en œuvre pour proposer des stages dans les meilleures conditions pour VOS enfants tout en respectant les protocoles sanitaires de l’ONE.</p>
          <p>Merci de bien prendre connaissance de protocole général et du protocole propre à votre lieu de stage disponible dans le menu <a href="/stages/protocole/general/">Stages enfants > Organisation ETE 2020 > Organisation générale.</a></p>
          <p>Si vous avez des questions, n’hésitez pas à nous envoyer un mail via notre <a href="/contact">formulaire de contact</a>.</p>
          <p>Afin de respecter les protocoles et l'organisation en silo de 50 enfants/moniteurs, nous vous demandons <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1">de vous inscrire à la garderie au préalable en cochant la case Garderie en Stage</a>.</p>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Fermer</button>
        <a class="btn btn-info-filled" href="https://www12.iclub.be/myiclub.asp?ClubID=559&LG=FR" target="_blank">MyCFS</a>
      </div>
    </div>
  </div>
</div>

</div>