---
layout: page
title: Activités sportives
permalink: "/stages/activites/activites_sportives/"
menu: true
description: Le CFS vous propose des stages sportifs durant les vacances scolaires
  pour les enfants de 6 à 16ans à Bruxelles, Liège et dans le Brabant wallon.
banner: ''
image: ''

---
{% include annonces/stages.html %}

<p>Sans devenir des cours spécifiques, les stages sportifs ont pour but de faire découvrir les sports dits « classiques » par le jeu.</p>

<p>Initiation ou perfectionnement, les jeunes apprennent les techniques et les règles de la discipline et pratiquent de matchs/tournois.</p>

<p>3 périodes par jour consacrées à la discipline sportive choisie sont complétées par une période d’activités envisageant un autre sport.</p>

<div class="row">
	{% assign liste_stages = site.data.stages.stages | sort: "name" %}
	{% for stage in liste_stages %}
  {% if stage.online and stage.categorie contains 'sportives' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>