---
layout: page
title: Découvertes sportives et culturelles
permalink: "/stages/activites/decouvertes_sportives_et_culturelles/"
menu: true
description: Pour les enfants de 4 à 8ans, le CFS propose une multitude d'activité
  de découverte sportive et culturelle dans le Brabant wallon ou à Bruxelles.
banner: ''
image: ''

---
{% include annonces/stages.html %}

<p>Les enfants découvrent de nouvelles disciplines. Ils dépensent leur énergie en pratiquant des sports diversifiés mobilisant différentes capacités et apprennent notamment à jouer en équipe. Cette diversité leur permet de trouver leur voie, de s’épanouir et de se diriger dans la pratique d’un sport en particulier.</p>

<div class="row">
	{% assign liste_stages = site.data.stages.stages | sort: "name" %}
	{% for stage in liste_stages %}
  {% if stage.online and stage.categorie == 'Découvertes sportives et culturelles' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>