---
layout: page
title: Activités artistiques et loisirs
permalink: /activites/extrascolaire/activites_artistiques_et_loisirs/
menu: activites
---

{% include annonces/activites.html %}

<div class="col-md-4 offset-md-4" style="margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=6" class="btn btn-block btn-info-filled" target="_blank">Inscription extrascolaire</a>
</div>
<div class="col-md-12 text-center" style="font-size: 24px; margin-bottom: 20px;"><strong>Trouvez une activité pour votre enfant pendant l'année scolaire</strong></div>
<div class="row">
	{% for stage in site.data.extrascolaire.activites %}
  {% if stage.online and stage.categorie == 'Activités artistiques et loisirs' %}

{% include coleen/carte_extrascolaire.html %}

  {% endif %}
	{% endfor %}
</div>