---
layout: page
title: Catalogue des stages
permalink: "/stages/activites/"
menu: true
description: L' ASBL CFS vous offre un large choix de stage pour enfants de 2 à 16ans
  dans le Brabant wallon, à Bruxelles et à Liège.
banner: ''
image: ''

---
{% include annonces/stages.html %}

<p>Ci-dessous tous les stages que nous vous proposons.<br>
Vous pouvez sélectionner une catégorie pour peaufiner votre recherche.</p>

<div class="row">
	{% assign liste_stages = site.data.stages.stages | sort: "name" %}
	{% for stage in liste_stages %}
  {% if stage.online %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>