---
layout: page
title: Stages Enfants
permalink: "/stages/"
menu: true
periode:
  carnaval:
    online: true
    bruxelles:
      online: true
      name: Stages Détente Bruxelles
      image: "/assets/images/dtente-bxl-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Bruxelles
      non_clickable: false
    brabant:
      online: true
      name: Stages Détente Brabant
      image: "/assets/images/detente-brt-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Brabant
      non_clickable: false
    liege:
      online: true
      name: Stages Détente Liège
      image: "/assets/images/detente-lie-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Liege
      non_clickable: false
    internat:
      online: true
      name: Stages Détente Internat
      image: "/assets/images/detente-internat-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1
      non_clickable: false
  paques:
    online: true
    bruxelles:
      online: true
      name: Stages Printemps Bruxelles
      image: "/assets/images/printemps-bxl-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Bruxelles
      non_clickable: false
    brabant:
      online: true
      name: Stages Printemps Brabant
      image: "/assets/images/printemps-brt-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Brabant&_ga=2.250516742.1856902825.1767601145-909983389.1745826110
      non_clickable: false
    liege:
      online: true
      name: Stages Printemps Liège
      image: "/assets/images/printemps-lie-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Liege
      non_clickable: false
    internat:
      online: true
      name: Stages Prntemps Internat
      image: "/assets/images/printemps-internat-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2
      non_clickable: false
  ete:
    online: true
    bruxelles:
      online: true
      name: Eté Bruxelles
      image: "/assets/images/ete-bxl-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=3&Province=Bruxelles
      non_clickable: false
    brabant:
      online: true
      name: Eté Brabant
      image: "/assets/images/ete-brt-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=3&Province=Brabant&_ga=2.250516742.1856902825.1767601145-909983389.1745826110
      non_clickable: false
    liege:
      online: true
      name: Eté Liège
      image: "/assets/images/ete-liege-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Liege
      non_clickable: false
    internat:
      online: true
      non_clickable: false
      name: Stages été Internat
      image: "/assets/images/ete-internat-2026.png"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=3
  toussaint:
    online: false
    bruxelles:
      online: true
      name: Stages Toussaint Bruxelles
      image: "/assets/images/toussaintbruxelles.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Bruxelles
      non_clickable: false
    brabant:
      online: true
      name: Stages Toussaint Brabant
      image: "/assets/images/toussaintbrabant.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Brabant&_ga=2.264999759.1115605006.1756716993-909983389.1745826110
      non_clickable: false
    liege:
      online: true
      name: Stages Toussaint Liège
      image: "/assets/images/toussaintliege.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Liege
      non_clickable: false
    internat:
      online: false
      non_clickable: false
      name: Stages Toussaint Internat
      image: "/assets/images/toussaintinternat.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&_ga=2.260816461.1115605006.1756716993-909983389.1745826110
  noel:
    online: false
    bruxelles:
      online: true
      name: Stages Noël Bruxelles
      image: "/assets/images/noelbruxelles.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Bruxelles&_ga=2.136122481.1558473795.1764749822-1649094147.1650885735
      non_clickable: false
    brabant:
      online: false
      name: Stages Noël Brabant
      image: "/assets/images/noelbrabant.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Brabant&_ga=2.136122481.1558473795.1764749822-1649094147.1650885735
      non_clickable: false
    liege:
      online: false
      name: Stages Noël Liège
      image: "/assets/images/noeliege.jpg"
      link: ''
      non_clickable: false
  nouvelan:
    online: false
    bruxelles:
      online: false
      name: Stages Nouvel An Bruxelles
      image: "/assets/images/nouvelanbxl-1.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Bruxelles
      non_clickable: false
    brabant:
      online: false
      name: Stages Nouvel An Brabant
      image: "/assets/images/nouvelanbrt-1.jpg"
      link: https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Brabant
      non_clickable: false
    liege:
      online: false
      name: ''
      image: ''
      link: ''
      non_clickable: false
    internat:
      online: false
      non_clickable: false
      name: ''
      image: ''
      link: ''
type: article
description: Le CFS organise des stages dans le Brabant-wallon, à Bruxelles et à Liège
  durant les vacances de Toussaint, Noël, Détente, Printemps et les celles d'été.
banner: ''
image: ''

---
{% include annonces/stages.html %}

<style>
.a {
  color: #0275d8 !important;
}
</style>

Le CFS organise, pendant les vacances scolaires, des activités du lundi au vendredi de 9h00 à 16h00. Une garderie est organisée le matin dès 8h00 et le soir jusqu’à 18h00.

<div id="container">
<center class="m-3"><iframe width="560" height="315" src="https://www.youtube.com/embed/HIx9PgycFEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

  <div class="team-members-tow mtb-50">

    <div class="sub-title">
        <span>Choisissez votre période</span>
    </div>
    <div class="row">
	    {% if page.periode.carnaval.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#carnaval" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">DETENTE</a>
      </div>
      {% endif %}

      {% if page.periode.paques.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#paques" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">PRINTEMPS</a>
      </div>
      {% endif %}

      {% if page.periode.ete.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#ete" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">ÉTÉ</a>
      </div>
      {% endif %}

      {% if page.periode.toussaint.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#toussaint" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">AUTOMNE</a>
      </div>
      {% endif %}

      {% if page.periode.noel.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#noel" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">HIVER</a>
      </div>
      {% endif %}

      {% if page.periode.nouvelan.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#noel" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">NOUVEL AN</a>
      </div>
      {% endif %}

    </div>

    {% if page.periode.carnaval.online %}
    <div class="sub-title">
        <span id="carnaval">Détente</span>
    </div>

    <div class="row">
	    
	    {% if page.periode.carnaval.brabant.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        
          {% capture image %}{{ page.periode.carnaval.brabant.image }}{% endcapture %}
          {% capture link %}{{ page.periode.carnaval.brabant.link }}{% endcapture %}
          {% assign offline = page.periode.carnaval.brabant.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Détente Brabant" href=link autre_page="oui" bouton="Inscription" offline=offline %}
        {% endif %}
      </div>
	    
{% if page.periode.carnaval.bruxelles.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        
          {% capture image %}{{ page.periode.carnaval.bruxelles.image }}{% endcapture %}
          {% capture link %}{{ page.periode.carnaval.bruxelles.link }}{% endcapture %}
          {% assign offline = page.periode.carnaval.bruxelles.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Détente Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
	    
        {% if page.periode.carnaval.liege.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.carnaval.liege.image }}{% endcapture %}
          {% capture link %}{{ page.periode.carnaval.liege.link }}{% endcapture %}
          {% assign offline = page.periode.carnaval.liege.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Détente Liège" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
	            {% if page.periode.carnaval.internat.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.carnaval.internat.image }}{% endcapture %}
          {% capture link %}{{ page.periode.carnaval.internat.link }}{% endcapture %}
          {% assign offline = page.periode.carnaval.internat.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Internat" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
	    
    </div>
    {% endif %}

    {% if page.periode.paques.online %}
    <div class="sub-title">
      <span id="paques">Printemps</span>
    </div>

    <div class="row">
      {% if page.periode.paques.brabant.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        {% capture image %}{{ page.periode.paques.brabant.image }}{% endcapture %}
          {% capture link %}{{ page.periode.paques.brabant.link }}{% endcapture %}
          {% assign offline = page.periode.paques.brabant.non_clickable %}

          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Printemps Brabant" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
	    
        {% if page.periode.paques.bruxelles.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.paques.bruxelles.image }}{% endcapture %}
          {% capture link %}{{ page.periode.paques.bruxelles.link }}{% endcapture %}
          {% assign offline = page.periode.paques.bruxelles.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Printemps Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
        {% if page.periode.paques.liege.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.paques.liege.image }}{% endcapture %}
          {% capture link %}{{ page.periode.paques.liege.link }}{% endcapture %}
          {% assign offline = page.periode.paques.liege.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Printemps Liège" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
        {% if page.periode.paques.internat.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.paques.internat.image }}{% endcapture %}
          {% capture link %}{{ page.periode.paques.internat.link }}{% endcapture %}
          {% assign offline = page.periode.paques.internat.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Internat" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}

    </div>
    {% endif %}

    {% if page.periode.ete.online %}
    <div class="sub-title">
      <span id="ete">Été</span>
    </div>

    <div class="row">
        {% if page.periode.ete.brabant.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.ete.brabant.image }}{% endcapture %}
          {% capture link %}{{ page.periode.ete.brabant.link }}{% endcapture %}
          {% assign offline = page.periode.ete.brabant.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Été Brabant" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
        {% if page.periode.ete.bruxelles.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.ete.bruxelles.image }}{% endcapture %}
          {% capture link %}{{ page.periode.ete.bruxelles.link }}{% endcapture %}
          {% assign offline = page.periode.ete.bruxelles.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Été Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
        {% if page.periode.ete.liege.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.ete.liege.image }}{% endcapture %}
          {% capture link %}{{ page.periode.ete.liege.link }}{% endcapture %}
          {% assign offline = page.periode.ete.liege.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Été Liège" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
        {% if page.periode.ete.internat.online %}

      <div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.ete.internat.image }}{% endcapture %}
          {% capture link %}{{ page.periode.ete.internat.link }}{% endcapture %}
          {% assign offline = page.periode.ete.internat.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Été Internat" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}

    </div>
    {% endif %}

    {% if page.periode.toussaint.online %}
    <div class="sub-title">
      <span id="toussaint">Automne</span>
    </div>

    <div class="row">
        
	{% if page.periode.toussaint.brabant.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.toussaint.brabant.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.toussaint.brabant.link }}{% endcapture %}
          	{% assign offline = page.periode.toussaint.brabant.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Toussaint Brabant" href=link autre_page="oui" bouton="Inscrption" offline=offline %}
      		</div>
	{% endif %}
        
	{% if page.periode.toussaint.bruxelles.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.toussaint.bruxelles.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.toussaint.bruxelles.link }}{% endcapture %}
          	{% assign offline = page.periode.toussaint.bruxelles.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Toussaint Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              	</div>
	{% endif %}

	{% if page.periode.toussaint.liege.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.toussaint.liege.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.toussaint.liege.link }}{% endcapture %}
          	{% assign offline = page.periode.toussaint.liege.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Toussaint Liège" href=link autre_page="oui" bouton="Inscrption" offline=offline %}
      		</div>
	{% endif %}
        
	{% if page.periode.toussaint.internat.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.toussaint.internat.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.toussaint.internat.link }}{% endcapture %}
          	{% assign offline = page.periode.toussaint.internat.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Toussaint Internat" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              	</div>
	{% endif %}

    </div>
    {% endif %}

    {% if page.periode.noel.online %}
    <div class="sub-title">
      <span id="noel">Hiver</span>
    </div>

    <div class="row">

              {% if page.periode.noel.brabant.online %}
<div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.noel.brabant.image }}{% endcapture %}
          {% capture link %}{{ page.periode.noel.brabant.link }}{% endcapture %}
          {% assign offline = page.periode.noel.brabant.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Noël Brabant" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}

              {% if page.periode.noel.bruxelles.online %}
<div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.noel.bruxelles.image }}{% endcapture %}
          {% capture link %}{{ page.periode.noel.bruxelles.link }}{% endcapture %}
          {% assign offline = page.periode.noel.bruxelles.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Noël Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}
	{% if page.periode.noel.liege.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.noel.liege.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.noel.liege.link }}{% endcapture %}
          	{% assign offline = page.periode.noel.liege.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Noël Brabant" href=link autre_page="oui" bouton="Inscrption" offline=offline %}
      		</div>
	{% endif %}
        
	{% if page.periode.toussaint.internat.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.noel.internat.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.noel.internat.link }}{% endcapture %}
          	{% assign offline = page.periode.noel.internat.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Noël Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              	</div>
	{% endif %}

    </div>
    {% endif %}

    {% if page.periode.nouvelan.online %}
    <div class="sub-title">
      <span id="noel">Nouvel An</span>
    </div>

    <div class="row">

              {% if page.periode.nouvelan.brabant.online %}
<div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.nouvelan.brabant.image }}{% endcapture %}
          {% capture link %}{{ page.periode.nouvelan.brabant.link }}{% endcapture %}
          {% assign offline = page.periode.nouvelan.brabant.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Nouvel an Brabant" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}

              {% if page.periode.nouvelan.bruxelles.online %}
<div class="col-xs-6 col-sm-6 col-md-3">
          {% capture image %}{{ page.periode.nouvelan.bruxelles.image }}{% endcapture %}
          {% capture link %}{{ page.periode.nouvelan.bruxelles.link }}{% endcapture %}
          {% assign offline = page.periode.nouvelan.bruxelles.non_clickable %}
          {% include coleen/bulle.html src=image alt="Stages enfants" titre="Nouvel an Bruxelles" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              </div>
{% endif %}

	{% if page.periode.nouvelan.liege.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.nouvelan.liege.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.nouvelan.liege.link }}{% endcapture %}
          	{% assign offline = page.periode.nouvelan.liege.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Nouvel an Liège" href=link autre_page="oui" bouton="Inscrption" offline=offline %}
      		</div>
	{% endif %}
        
	{% if page.periode.nouvelan.internat.online %}
      		<div class="col-xs-6 col-sm-6 col-md-3">
          	{% capture image %}{{ page.periode.nouvelan.internat.image }}{% endcapture %}
          	{% capture link %}{{ page.periode.nouvelan.internat.link }}{% endcapture %}
          	{% assign offline = page.periode.nouvelan.internat.non_clickable %}
          	{% include coleen/bulle.html src=image alt="Stages enfants" titre="Nouvel an Internat" href=link autre_page="oui" bouton="Inscription" offline=offline %}
              	</div>
	{% endif %}

    </div>
    {% endif %}

  </div>

</div>
