---
layout: page
title: Stages Enfants
permalink: "/stages/"
menu: true
periode:
  carnaval:
    online: true
    bruxelles:
      online: false
      clickable: true
      name: Stages Carnaval Bruxelles
      image: "/assets/images/carnavalbxl.jpg"
      link: ''
    brabant:
      online: false
      clickable: true
      name: Stages Carnaval Brabant
      image: "/assets/images/carnavalbrt.jpg"
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
  paques:
    online: false
    bruxelles:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    brabant:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
  ete:
    online: false
    bruxelles:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    brabant:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
  toussaint:
    online: false
    bruxelles:
      online: true
      clickable: true
      name: Stages Toussaint Bruxelles
      image: ''
      link: ''
    brabant:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
  noel:
    online: false
    bruxelles:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    brabant:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
  nouvelan:
    online: false
    bruxelles:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    brabant:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
    liege:
      online: false
      clickable: true
      name: ''
      image: ''
      link: ''
type: article
description: ''
banner: ''
image: ''

---
{% include annonces/stages.html %}

<style>
.a {
  color: #0275d8 !important;
}
</style>

Le CFS organise, pendant les vacances scolaires, des activités du lundi au vendredi de 9h00 à 16h00. Une garderie est organisée le matin dès 8h00 et le soir jusqu’à 18h00.

<div id="container">

  <div class="team-members-tow mtb-50">

    <div class="sub-title">
        <span>Choisissez votre période</span>
    </div>
    <div class="row">
	    {% if page.periode.carnaval.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#carnaval" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">CARNAVAL</a>
      </div>
      {% endif %}

      {% if page.periode.paques.online %}
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a href="#paques" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">PÂQUES</a>
      </div>
      {% endif %}

      {% if page.periode.ete.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#ete" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">ÉTÉ</a>
      </div>
      {% endif %}

      {% if page.periode.toussaint.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#toussaint" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">TOUSSAINT</a>
      </div>
      {% endif %}

      {% if page.periode.noel.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#noel" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">NOËL</a>
      </div>
      {% endif %}

      {% if page.periode.nouvelan.online %}
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#noel" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">NOUVEL AN</a>
      </div>
      {% endif %}

    </div>

    {% if page.periode.carnaval.online %}
    <div class="sub-title">
        <span id="carnaval">Carnaval</span>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061360148316172/sitestagescarnavalbrt.png" titre="Carnaval Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Brabant&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061357333938216/sitestagescarnavalbxl.png" titre="Carnaval Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Bruxelles&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>
    </div>
    {% endif %}

    {% if page.periode.paques.online %}
    <div class="sub-title">
      <span id="paques">Pâques</span>
    </div>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062406409191424/sitestagespaquesbrt.png" titre="Pâques Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Brabant&Groupe=2" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062408950808577/sitestagespaquesbxl.png" titre="Pâques Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Bruxelles&Groupe=2" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062390613311489/sitestagespaqueslie.png" titre="Pâques Liège" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Liege&Groupe=2" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
	      {% comment %} @Coleen supprimer que le offline="Oui" {% endcomment %}
        {% include coleen/bulle.html src="/assets/images/stages/stagesinternatpaques.jpg" titre="Internat" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=&Groupe=2" autre_page="oui" bouton="Inscription"%}
      </div>

    </div>
    {% endif %}

    {% if page.periode.ete.online %}
    <div class="sub-title">
      <span id="ete">Été</span>
    </div>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062604543787009/sitestagesetebrt.png" titre="Été Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Brabant&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062607656091658/sitestagesetebxl.png" titre="Été Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Bruxelles&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062609191075860/sitestagesetelie.png" titre="Été Liège" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Province=Liege" autre_page="oui" bouton="Inscription" %}
      </div>

    </div>
    {% endif %}

    {% if page.periode.toussaint.online %}
    <div class="sub-title">
      <span id="toussaint">Toussaint</span>
    </div>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/toussaintbrt-1.jpg" titre="Toussaint Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=3&Province=Brabant" autre_page="oui" bouton="Inscrption" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/toussaintbxl-1.jpg" titre="Toussaint Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=3&Province=Bruxelles" autre_page="oui" bouton="Inscription" %}
      </div>

    </div>
    {% endif %}

    {% if page.periode.noel.online %}
    <div class="sub-title">
      <span id="noel">Noël</span>
    </div>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/noelbrt-1.jpg" titre="Noël Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Brabant" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/noelbxl-1.jpg" titre="Noël Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=1&Province=Bruxelles" autre_page="oui" bouton="Inscription" %}
      </div>

    </div>
    {% endif %}

    {% if page.periode.nouvelan.online %}
    <div class="sub-title">
      <span id="noel">Nouvel An</span>
    </div>

    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/nouvelanbrt-1.jpg" titre="Nouvel an Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Brabant" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        {% include coleen/bulle.html src="/assets/images/nouvelanbxl-1.jpg" titre="Nouvel an Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=4&Groupe=2&Province=Bruxelles" autre_page="oui" bouton="Inscription" %}
      </div>

    </div>
    {% endif %}

  </div>

</div>