---
layout: page
menu: true
title: Neder-Over-Heembeek - Ecole maternelle de Heembeek
type_page: ecoles
activite_garderie: false
activite_parascolaire: true
activite_pedagogique: false
bulle: ''
banner: "/assets/images/slider-ecole-de-heembeek.jpg"
description: Neder-Over-Heembeek - Ecole maternelle de Heembeek
image: "/assets/images/banner-ecole-de-heembeek.jpg"

---
#### **Un cadre convivial pour vos enfants !**

Chers Parents,

C’est avec plaisir que le CFS vous propose des activités sportives et culturelles du lundi au vendredi après-midi en collaboration avec l’Ecole Maternelle de Heembeek.

{% include utils/button.html  
lien='https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=2&Province=Bruxelles' couleur="info" autre_page=true texte="Je m'inscris à une activité parascolaire" %}

{% include utils/button.html lien='https://cfsport.sharepoint.com/:b:/s/external-documents/ER2IP_rEQtdMiOIfe791RvoBR_nnX3HCko27JG5WgQdaKQ?e=Mty9xO' couleur="info" autre_page=true texte="Mon dépliant 2022-2023" %}