---
layout: page
menu: true
title: Neder-Over-Heembeek - Ecole maternelle de Heembeek
type_page: ecoles
activite_garderie: false
activite_parascolaire: true
activite_pedagogique: false
bulle: ''
banner: "/assets/images/slider-ecole-de-heembeek.jpg"
permalink: https://www.lecfs.be/pages/pour-les-ecoles/ecoles/neder-over-heembeek-ecole-maternelle-de-heembeek
description: Neder-Over-Heembeek - Ecole maternelle de Heembeek
image: "/assets/images/banner-ecole-de-heembeek.jpg"

---
Un cadre convivial pour vos enfants !

Chers Parents,

C’est avec plaisir que le CFS vous propose des activités sportives et culturelles le lundi, mardi, et jeudi après-midi en collaboration avec l’Ecole maternelle de Heembeek.

{% include utils/button.htmllien='https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&LG=FR&Categorie=2&Province=Bruxelles' couleur="info" autre_page=true texte="Je m'inscris à une activité parascolaire" %}

{% include utils/button.html lien='https://cfsport.sharepoint.com/:b:/s/external-documents/ER2IP_rEQtdMiOIfe791RvoBR_nnX3HCko27JG5WgQdaKQ?e=9lmm4B' couleur="info" autre_page=true texte="Mon dépliant 2022-2023" %}